[Desktop Entry]
Type=Application
Version=next
Name=AssaultCube Next
Comment=Realistic first-person shooter
Icon=${SNAP}/meta/gui/icon.png
Exec=assaultcube-alonso
Categories=Game;ActionGame;
