[Desktop Entry]
Type=Application
Version=next
Name=AssaultCube Next
Comment=Arcade first-person shooter
Icon=${SNAP}/meta/gui/icon.png
Exec=assaultcube-alonso
Terminal=false
Categories=Game;ActionGame;
