[Desktop Entry]
Type=Application
Version=1.2.0.2
Name=AssaultCube
Comment=Arcade first-person shooter
Icon=${SNAP}/meta/gui/icon.png
Exec=assaultcube-alonso
Terminal=false
Categories=Game;ActionGame;
